# JS/TS
node_modules

# Secrets
.envKompendium/.obsidian/
Kompendium/.obsidian/workspace.json
Kompendium/.obsidian/workspace-mobile.json
Kompendium/.obsidian/
Kompendium/.obsidian/workspace.json
Kompendium/.obsidian/workspace-mobile.json
